In [39]:
# Name: Narayanam Chidvilas
# Reg.No: 20BCE2248
# College: VIT, VELLORE

In [ ]:
# TASK-1: Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [26]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(77)

# Create random values
Data = np.random.rand(4,4)

# Create the DataFrame
df = pd.DataFrame(Data, columns=['Feature-1','Feature-2','Feature-3','Feature-4'])

print(df)

   Feature-1  Feature-2  Feature-3  Feature-4
0   0.919109   0.642196   0.753712   0.139315
1   0.087320   0.788002   0.326151   0.541068
2   0.240235   0.545423   0.400555   0.715192
3   0.836680   0.588481   0.296155   0.281018

In [14]:
# TASK-2: Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [27]:
df.rename(columns={'Feature-1': 'Random value 1', 'Feature-2': 'Random value 2',
                   'Feature-3': 'Random value 3', 'Feature-4': 'Random value 4'}, inplace=True)

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.919109        0.642196        0.753712        0.139315
1        0.087320        0.788002        0.326151        0.541068
2        0.240235        0.545423        0.400555        0.715192
3        0.836680        0.588481        0.296155        0.281018

In [28]:
# TASK-3: Find the descriptive statistics of the 'df' dataframe.

In [29]:
# Display descriptive statistics
statistics = df.describe()

print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.520836        0.641025        0.444143        0.419148
std          0.418351        0.105679        0.210994        0.258130
min          0.087320        0.545423        0.296155        0.139315
25%          0.202006        0.577717        0.318652        0.245592
50%          0.538458        0.615338        0.363353        0.411043
75%          0.857287        0.678647        0.488844        0.584599
max          0.919109        0.788002        0.753712        0.715192

In [30]:
# TASK-4: Check for the null values in 'df' and find the data type of the columns.

In [35]:
# Check for null values
null_values = df.isnull().sum()

print("Null Values:\n\n", null_values)

# Find data types of columns
data_types = df.dtypes

print("\n\nData Types:\n\n", data_types)

Null Values:

 Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64


Data Types:

 Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [36]:
# TASK-5: Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [38]:
# Display columns using location method
loc_method_cols = df.loc[:, ['Random value 2', 'Random value 3']]
print("Columns using location method:\n", loc_method_cols)

# Display columns using index location method
index_loc_method_cols = df.iloc[:, [1, 2]]
print("\nColumns using index location method:\n", index_loc_method_cols)

Columns using location method:
    Random value 2  Random value 3
0        0.642196        0.753712
1        0.788002        0.326151
2        0.545423        0.400555
3        0.588481        0.296155

Columns using index location method:
    Random value 2  Random value 3
0        0.642196        0.753712
1        0.788002        0.326151
2        0.545423        0.400555
3        0.588481        0.296155