In [1]:
#sai kumar - 20BCE2247
#VIT VELLORE
#AI assignment -1 

import numpy as np

In [3]:
import pandas as pd

In [4]:

# Set the random seed for reproducibility
np.random.seed(42)

In [5]:
# Create random values
data = np.random.rand(4, 4)

In [6]:
# Create the DataFrame
df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])

In [7]:
print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.374540  0.950714  0.731994  0.598658
1  0.156019  0.155995  0.058084  0.866176
2  0.601115  0.708073  0.020584  0.969910
3  0.832443  0.212339  0.181825  0.183405

In [8]:
#Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4

In [9]:
df.rename(columns={'Feature1': 'Random value 1', 'Feature2': 'Random value 2',
                   'Feature3': 'Random value 3', 'Feature4': 'Random value 4'},
          inplace=True)

In [10]:
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.374540        0.950714        0.731994        0.598658
1        0.156019        0.155995        0.058084        0.866176
2        0.601115        0.708073        0.020584        0.969910
3        0.832443        0.212339        0.181825        0.183405

In [11]:
#Check for the null values in 'df' and find the data type of the columns

In [12]:
# Check for null values
null_values = df.isnull().sum()

In [13]:
# Print null values
print("Null Values:\n", null_values)

Null Values:
 Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [14]:
# Find data types of columns
data_types = df.dtypes

In [15]:
# Print data types
print("\nData Types:\n", data_types)

Data Types:
 Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [16]:
#Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [17]:
# Display columns using location method
location_method_cols = df.loc[:, ['Random value 2', 'Random value 3']]

In [18]:
print("Columns using location method:\n", location_method_cols)

Columns using location method:
    Random value 2  Random value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825

In [19]:
# Display columns using index location method
index_location_method_cols = df.iloc[:, [1, 2]]
print("\nColumns using index location method:\n", index_location_method_cols)

Columns using index location method:
    Random value 2  Random value 3
0        0.950714        0.731994
1        0.155995        0.058084
2        0.708073        0.020584
3        0.212339        0.181825